{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <script defer src="{% static 'js/main.js' %}"></script>
  <!-- <script defer src="{% static 'js/calendar.js' %}"></script> -->

  <title>Document</title>
</head>

<body>

  <div class="info-box">

    {% for date in dates %}
      {% if date.cnt > 0 %}
      <div class="active">{{date.year}} {{date.month}} {{date.date}}</div>
      {% endif %}
    {% endfor %}

    <div class="day-clock-div">
      <div class="date">2022년 1월 1일</div>
      <div class="clock">00시 00분 00초</div>
    </div>

    <p class="todo-text">To-do list Calendar</p>

  </div>

  <div class="contents-box">

    <div class="calendar">

      <div class="calendar-nav">
        <span class="material-icons arrow_left">
          arrow_left
        </span>
        <span class="year-month">
          2022년 1월
        </span>
        <span class="material-icons arrow_right">
          arrow_right
        </span>
      </div>

      <div class="day-nav">
        <p class="day sunday">일</p>
        <p class="day">월</p>
        <p class="day">화</p>
        <p class="day">수</p>
        <p class="day">목</p>
        <p class="day">금</p>
        <p class="day saturday">토</p>
      </div>
      <div class="date-div">
        <div class="calendar-date day sunday"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day saturday"></div>
        <div class="calendar-date day sunday"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day saturday"></div>
        <div class="calendar-date day sunday"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day saturday"></div>
        <div class="calendar-date day sunday"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day saturday"></div>
        <div class="calendar-date day sunday"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day saturday"></div>
        <div class="calendar-date day sunday"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day"></div>
        <div class="calendar-date day saturday"></div>
      </div>

    </div>
  </div>


</body>

</html>